<!DOCTYPE html>
<html>
<head>
    <title>Encora - Perfil</title>
    <link rel="stylesheet" href="styles.css"> </head>
<body>
    <header>
        <h1>Encora</h1>
        <button>Cerrar sesión</button>
    </header>

    <main>
        <h2>Perfil</h2>

        <h3>Habilidades</h3>
        <div class="skills">
            <button>Java</button>
            <button>Python</button>
            <button>Azure</button>
            <button>Haskell</button>
            <button>Cargar certificados</button>
        </div>

        <h3>Experiencia</h3>
        <div class="experience">
            <button>0-2 años</button>
            <button>3-5 años</button>
            <button>Más de 5 años</button>
            <input type="file" id="file-upload" />
            <label for="file-upload">Browse File</label>
        </div>

        <h3>Sobre ti:</h3>
        <textarea placeholder="Ingresa un link de tu portafolio"></textarea>
        <textarea placeholder="Descripción sobre ti"></textarea>
        <button>Crear perfil</button>
    </main>
</body>
</html>